@font-face {
	font-family: montserratBold;
	src: url("./fonts/Montserrat-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;

  background: url(./images/background-dark.svg) no-repeat;
  background-size: cover;

  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-board {
  height: 700px;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: auto;
}

.score {
  font-family: verdana;
  font-size: 2em;
  position: relative;
  color: #ff0000;
  font-family: montserratBold;
}
canvas {
  display: block;
  margin: 20px auto;

  border: 2px solid #D0D3D6;
}

h2 {
  display: none;

  font-size: 70px;
  color: #809CD0;

  text-align: center;

  font-family: montserratBold;
}

.level {
  font-size: 30px;
  color: #ff0000;
  font-family: montserratBold;
}
